/* Front page H1 */
#page-main h1 {
	font-size: 0.9em;
}

#page-main h1.center {
	text-align: center;
}

h1, h2, h3, h4 {
	/*
	font-style: italic;
	*/
	font-family: luxi sans,sans-serif;
}

h1 {
	font-size: 1.75em;
}

h2 {
	font-size: 1.25em;
}

h3 {
	font-size: 1.1em;
}

hr {
	border: 0;
	border-bottom: 1px solid #000;
}

td {
	font-size: 12px;
}

#adrevenue-content li {
	padding: 1pt;
}

#adrevenue-content h1 {
	margin-top: 0;
}

#adrevenue-content a img {
	margin: 1px;
	border: 0;
}

#adrevenue-content a:hover img {
	margin: 0;
	border: 1px solid #f00;
}

#adrevenue-content a img.noborder {
	margin: 0;
	border: 0;
}

#adrevenue-content a:hover img .noborder {
	margin: 0;
	border: 0;
}
                                                                                                                              
/* pre.screen is for DocBook HTML output */
code.screen, pre.screen {
	font-family: monospace;
	font-size: 0.9em;
	display: block;
	padding: 10px;
	border: 1px solid #bbb;
	background-color: #eee;
	color: #000;
	overflow: auto;
	border-radius: 2.5px;
	-moz-border-radius: 2.5px;
	margin: 0.5em 2em;
}

code.command, code.filename {
	font-family: monospace;
}

code.citetitle {
	font-family: sans-serif;
	font-style: italic;
}

strong.application {
	font-weight: bold;
} 

.indent {
	margin: 0 2em;
}

#warning {
	width: 75%;
	margin: 0 auto;
	padding: 1em;
	border: 2px solid #CC0000;
	background-color: #FFFFCC;
	text-align: center;
	font-size: 14px;
}

#warning a {
	text-decoration: underline;
}

#notice {
	width: 75%;
	margin: 0 auto;
	padding: 1em;
	border: 1px solid #000;
	background-color: #FFFFCC;
	text-align: center;
	font-size: 14px;
}

#notice a {
	text-decoration: underline;
}

