<!-- BEGIN: main -->
{ADS_MENU}
<br/>
<h2>@@Your ad@@:</h2>
@@This is what your ad will look like@@:<br/>
<div style="border-top: 1px dotted #666; border-bottom: 1px dotted #666; padding: 10px; margin-top: 1em;">
{PREVIEW}
</div>
<h2>@@Clickthrough URL@@:</h2>
@@You can use this url to register clicks on your ad if you're using it in email or in some other kind of rich media@@.<br/>
@@Copy it and use it wherever you wish@@:
<br/>
<div style="margin-top: 1em; font-family: lucida console, lucida typewriter, courier, fixed; font-size: 18px; color: green;">
<a href="{URL}" target="_new">{URL}</a>
</div>
<!-- END: main -->
